body{
    background-image: url("/workspaces/ElitePointers/templates/static/ElitePointers/img/capa-fundo.jpg");
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(3px);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.formulario{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 0px 30px;
    color: white;
}

.formulario > input{
    display: block;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 5px;
}

.formulario > input[type=submit]{
    width: 100%;
    height: 40px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    margin-top: 20px;
}

.formulario > input[type=submit]:hover{
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
}

@media(max-width: 760px){
    body{
        backdrop-filter: none;
    }

    .formulario{
        padding: 0;
    }

    .formulario h1{
        font-size: 30px;
    }
}