<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'ElitePointers/css/style.css' %}" />
    <title>Elite Pointers</title>
  </head>
  <body>

    <div class="fade"></div>
        <div class="modal">
          <div class="modal-header">
            <h1>esse é o</h1>
            <button>Voltar ás compras</button>
          </div>
          <div class="modal-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni perspiciatis aliquid deserunt aspernatur assumenda dolore, mollitia nisi impedit similique architecto necessitatibus fugit, illo illum, ut nobis inventore atque aliquam odit!</p>
          </div>
        </div>

    <div class="set-header">
      <header class="header js-scroll">
        <ul class="menu">
          <li><a href="#sobre">Sobre nós</a></li>
          <li><a href="#masculino">Masculino</a></li>
          <li><a href="#feminino">Feminino</a></li>
        </ul>
        <div class="carrinho">
          <a href=""><img src="{% static 'ElitePointers/img/carrinho.png' %}" alt=""></a>
        </div>
        <div class="login">
          <button id="botao-in"><a href="{% url 'login' %}">Entrar</a></button> 
          <button id="botao"><a href="{% url 'cadastro' %}">Cadastar</a></button>
        </div>  
      </header>
    </div>

    <main class="main">
        <h1>Relógio: <span></span></h1>
    </main>

    <section class="masculino js-scrollAnimado" id="masculino">
      <div class="cards">
        <div class="card">
          <img src="{% static 'ElitePointers/img/masculinos/relogi-01.jpg' %}" alt="">
          <p>Relogio feminino de ouro 18kl com fundo laranja.</p>
          <span>R$100,00</span>
          <span class="spanParcelamentos">parcelamos em até 5x sem juros</span>
          <button>Adicionar ao carrinho</button>
        </div>

        <div class="card">
          <img src="{% static 'ElitePointers/img/masculinos/relogio-02.jpg' %}" alt="">
          <p>Relogio feminino de ouro 18kl com fundo laranja.</p>
          <span>R$150,00</span>
          <span class="spanParcelamentos">parcelamos em até 5x sem juros</span>
          <button>Adicionar ao carrinho</button>
        </div>

        <div class="card">
          <img src="{% static 'ElitePointers/img/masculinos/relogio-03.jpg' %}" alt="">
          <p>Relogio feminino de ouro 18kl com fundo laranja.</p>
          <span>R$200,00</span>
          <span class="spanParcelamentos">parcelamos em até 5x sem juros</span>
          <button>Adicionar ao carrinho</button>
        </div>

        <div class="card">
          <img src="{% static 'ElitePointers/img/masculinos/relogio-04.jpg' %}" alt="">
          <p>Relogio feminino de ouro 18kl com fundo laranja.</p>
          <span>R$300,00</span>
          <span class="spanParcelamentos">parcelamos em até 5x sem juros</span>
          <button>Adicionar ao carrinho</button>
        </div>
        
        <div class="card">
          <img src="{% static 'ElitePointers/img/masculinos/relogio-05.jpg' %}" alt="">
          <p>Relogio feminino de ouro 18kl com fundo laranja.</p>
          <span>R$90,00</span>
          <span class="spanParcelamentos">parcelamos em até 5x sem juros</span>
          <button>Adicionar ao carrinho</button>
        </div>  

        <div class="card">
          <img src="{% static 'ElitePointers/img/masculinos/relogio-06.jpg' %}" alt="">
          <p>Relogio feminino de ouro 18kl com fundo laranja.</p>
          <span>R$120,00</span>
          <span class="spanParcelamentos">parcelamos em até 5x sem juros</span>
          <button>Adicionar ao carrinho</button>
        </div>

        <div class="card">
          <img src="{% static 'ElitePointers/img/masculinos/relogio-8.jpg' %}" alt="">
          <p>Relogio feminino de ouro 18kl com fundo laranja.</p>
          <span>R$270,00</span>
          <span class="spanParcelamentos">parcelamos em até 5x sem juros</span>
          <button>Adicionar ao carrinho</button>
        </div>
      </div>
    </section>

    <section class="feminino js-scrollAnimado" id="feminino">
      <div class="cards">
        <div class="card">
          <img src="{% static 'ElitePointers/img/femininos/relogio-1.jpg' %}" alt="">
          <p>Relogio feminino de ouro 18kl com fundo laranja.</p>
          <span>R$130,00</span>
          <span class="spanParcelamentos">parcelamos em até 5x sem juros</span>
          <button>Adicionar ao carrinho</button>
        </div>
        <div class="card">
          <img src="{% static 'ElitePointers/img/femininos/relogio-2.jpg' %}" alt="">
          <p>Relogio feminino de ouro 18kl com fundo laranja.</p>
          <span>R$190,00</span>
          <span class="spanParcelamentos">parcelamos em até 5x sem juros</span>
          <button>Adicionar ao carrinho</button>
        </div>
        <div class="card">
          <img src="{% static 'ElitePointers/img/femininos/relogio-3.jpg' %}" alt="">
          <p>Relogio feminino de ouro 18kl com fundo laranja.</p>
          <span>R$350,00</span>
          <span class="spanParcelamentos">parcelamos em até 5x sem juros</span>
          <button>Adicionar ao carrinho</button>
        </div>
        <div class="card">
          <img src="{% static 'ElitePointers/img/femininos/relogio-4.jpg' %}" alt="">
          <p>Relogio feminino de ouro 18kl com fundo laranja.</p>
          <span>R$200,00</span>
          <span class="spanParcelamentos">parcelamos em até 5x sem juros</span>
          <button>Adicionar ao carrinho</button>
        </div>
        <div class="card">
          <img src="{% static 'ElitePointers/img/femininos/relogio-5.jpg' %}" alt="">
          <p>Relogio feminino de ouro 18kl com fundo laranja.</p>
          <span>R$150,00</span>
          <span class="spanParcelamentos">parcelamos em até 5x sem juros</span>
          <button>Adicionar ao carrinho</button>
        </div>
        <div class="card">
          <img src="{% static 'ElitePointers/img/femininos/relogio-6.jpg' %}" alt="">
          <p>Relogio feminino de ouro 18kl com fundo laranja.</p>
          <span>R$100,00</span>
          <span class="spanParcelamentos">parcelamos em até 5x sem juros</span>
          <button>Adicionar ao carrinho</button>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div id="sobre">
        <h1>Elite Pointers:</h1>
        <p>com dez anos de experiência, oferecendo produtos de altíssima qualidade e atendimento excepcional. Conhecida por sua seleção rigorosa e marcas renomadas, garante satisfação com uma política de devolução justa e suporte dedicado, proporcionando uma experiência de compra superior.</p>
      </div>
      <div class="formasDePagamento">
        <h1>Formas de pagamento:</h1>
        <article class="iconsImagens">
          <abbr title="Á vista"><img src="{% static 'ElitePointers/img/pagamentos/Ávista.svg' %}" alt=""></abbr>
          <abbr title="Parcelamos no cartão"><img src="{% static 'ElitePointers/img/pagamentos/cretidos.svg' %}" alt=""></abbr>
          <abbr title="Aceitamos Pix"><img src="{% static 'ElitePointers/img/pagamentos/pix.svg' %}" alt=""></abbr>
      </article>
      </div>
      <div class="contatos">
        <h1>Fale conosco:</h1>
        <span>telefone: (84) 92341-5871</span>
        <span>email: elitePointers@gmail.com</span>
        <span>instagram: _elitePointers</span>
      </div>
    </footer>

    <script src="{% static 'ElitePointers/javaScript/script.js' %}"></script>
</body>
</html>

