<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'ElitePointers/css/style.css' %}" />
    <title>Elite Pointers</title>
  </head>
  <body>
    <div class="set-header">
      <header class="header js-scroll">
        <ul class="menu">
          <li><a href="#sobre">Sobre nós</a></li>
          <li><a href="#masculino">Masculino</a></li>
          <li><a href="#feminino">Feminino</a></li>
          {% if user.is_staff %}
            <li><a href= "{% url "admin" %}">Gerenciar Relogios</a></li>
          {% endif %}
        </ul>
        <div class="carrinho">
          <a href=""><img src="{% static 'ElitePointers/img/carrinho.png' %}" alt=""></a>
        </div>
        {% if user.is_authenticated %}
          <div class="divConta">
            <a href="{% url 'ver_usuario' user.email %}"><img src="{% static 'ElitePointers/img/inforConta.svg' %}" alt=""></a>
          </div>
        {% else %}
          <div class="login">
            <button id="botao-in"><a href="{% url 'login' %}">Entrar</a></button> 
            <button id="botao"><a href="{% url 'cadastro' %}">Cadastar</a></button>
          </div> 
        {% endif %}
        
      </header>
    </div>

    <main class="main">
        <h1>Relógio: <span></span></h1>
    </main>

    <section class="masculino js-scrollAnimado" id="masculino">
      <div class="cards">
        {% if relogios_masculinos %}
          {% for relogio in relogios_masculinos %}
            <div class="card">
              <img src="{% get_media_prefix %}{{relogio.imagem}}" alt="">
              <p>Relogio {{relogio.nome}} Marca {{relogio.marca}} {{relogio.genero}} de {{relogio.material}} {{relogio.peso}}kl {{relogio.cor}}.</p>
              <span>R${{relogio.preco}}</span>
              <span class="spanParcelamentos">parcelamos em até 5x sem juros</span>
              <button>
                {% if user.is_authenticated %}
                  <a href="{% url "Adicionar_item_carrinho" user.email relogio.id %}">Adicionar ao carrinho</a>
                {% else %}
                  <a href="{% url "login" %}">Adicionar ao carrinho</a>
                {% endif %}
              </button>
            </div>
          {% endfor %}
        {% else %}
            <h1>Sem relogios masculinos disponiveis</h1>
        {% endif %}
      </div>
    </section>

    <section class="feminino js-scrollAnimado" id="feminino">
      <div class="cards">
        {% if relogios_femininos %}
          {% for relogio in relogios_femininos %}
            <div class="card">
              <img src="{% get_media_prefix %}{{relogio.imagem}}" alt="">
              <p>Relogio {{relogio.nome}} Marca {{relogio.marca}} {{relogio.genero}} de {{relogio.material}} {{relogio.peso}}kl {{relogio.cor}}.</p>
              <span>R${{relogio.preco}}</span>
              <span class="spanParcelamentos">parcelamos em até 5x sem juros</span>
              <button>
                {% if user.is_authenticated %}
                  <a href="{% url "Adicionar_item_carrinho" user.email relogio.id %}">Adicionar ao carrinho</a>
                {% else %}
                  <a href="{% url "login" %}">Adicionar ao carrinho</a>
                {% endif %}
              </button>
            </div>
          {% endfor %}
        {% else %}
            <h1 color="red">Sem relogios femininos disponiveis</h1>
        {% endif %}
      </div>
    </section>

    <footer class="footer">
      <div id="sobre">
        <h1>Elite Pointers:</h1>
        <p>com dez anos de experiência, oferecendo produtos de altíssima qualidade e atendimento excepcional. Conhecida por sua seleção rigorosa e marcas renomadas, garante satisfação com uma política de devolução justa e suporte dedicado, proporcionando uma experiência de compra superior.</p>
      </div>
      <div class="formasDePagamento">
        <h1>Formas de pagamento:</h1>
        <article class="iconsImagens">
          <abbr title="Á vista"><img class="ModoDepagamento" src="{% static 'ElitePointers/img/pagamento/economizar.png' %}" alt=""></abbr>
          <abbr title="Parcelamos no cartão"><img class="ModoDepagamento" src="{% static 'ElitePointers/img/pagamento/pagamento-com-cartao-de-credito.png' %}" alt=""></abbr>
          <abbr title="Aceitamos Pix"><img class="ModoDepagamento" src="{% static 'ElitePointers/img/pagamento/pix_icon_198027.png' %}" alt=""></abbr>
      </article>
      </div>
      <div class="contatos">
        <h1>Fale conosco:</h1>
        <span>telefone: (84) 92341-5871</span>
        <span>email: elitePointers@gmail.com</span>
        <span>instagram: _elitePointers</span>
      </div>
    </footer>

    <script src="{% static 'ElitePointers/javaScript/script.js' %}"></script>
</body>
</html>

