<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'ElitePointers/css/login.css' %}">
    <title>login</title>
</head>
<body>
    <div class="container">
        <form action="{% url "login" %}" method="POST">
            {% csrf_token %}
            <div>
                <label for="">Email</label>
                <input type="email" name="email">
            </div>

            <div>
                <label for="">Senha</label>
                <input type="password" name="senha">
            </div>

            <button ><a type="submit">Sign in</a></button>
        </form>
    </div>
</body>
</html>